NODE_ENV='development'

PORT=8080 

MONGODB_URI=<YOUR_DB_URL>
ACCESS_TOKEN_SECRET=<YOUR_ACCESS_SECRET>
ACCESS_TOKEN_EXPIRE_IN=3d

REFRESH_TOKEN_SECRET=<YOUR-REFRESH-SECRET> 
REFRESH_TOKEN_EXPIRE_IN=7d


CLIENT_ID=<YOUR-GOOGLE-CLIENT-ID>
CLIENT_SECRET=<YOUR-GOOGLE-CLIENT-SECRET>
REFRESH_TOKEN=<YOUR-GOOGLE-REFRESH-TOKEN>
EMAIL_USER=<YOUR-EMAIL>


RABBITMQ_URL=
RABBITMQ_MAX_RETRY=3


REDIS_HOST= 
REDIS_PORT= 
REDIS_PASSWORD=
CONTENT_CACHE_DURATION_MILLS=600000
